body {
    background-color: rgb(22, 22, 128);
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: rgb(46, 0, 231);
}

a:hover {
    color: aliceblue;
    text-decoration: none;
}

p {
    color: #E8E1F0
}

hr {
    color: #070752;
}

h1 {
    color: #E8E1F0
}

footer {
    color: #E8E1F0
}

h3 {
    color: #E8E1F0
}

h2 {
    color: #E8E1F0;
}

ul {
    color: #E8E1F0
}


#container {
    background-color: rgb(9, 12, 43);
    width: 45%;
    margin: 20px auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 40px;

}

header h1 {
    font-size: 50px;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    padding-top: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: rgb(4, 4, 25);
    color: blue;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid rgb(55, 55, 114);
}

nav li a:hover {
    color: rgb(255, 0, 0);
    background-color: rgb(9, 9, 36);
}

.multi_col {
    display: flex;
}

aside,
section {
    padding: 5px;
    width: 75%;
}

iframe {
    display: block;
    margin: 2px;
}